* {
  box-sizing: border-box;
  flex: 1 0 auto;
}

.flick.template {
  display: none;
}

h1{
    /*background-color: #99ebff;*/
    text-align: center;
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
}


/*.categories{
  clear: both;
  float: left;
  display: inline-block;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 0.75rem 1.25rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}*/

#flick-list{
  display: inline-block;
  width: 100%;
}

.flick {
  border: 1px solid #ddd;
  clear: both;
  display: flex;
  width: 100%;
  float: right;
  align-items: center;
  text-align: center;
  padding: 0.75rem 1.25rem;
  transition: 0.25s;
}

.flick + .flick {
  border-top: 0;
}

input.input-group-field2{
    display: inline-block;
    width: 13rem;
    margin-left: -0.7rem;
}

.small-3 {
  width: 10rem;
  margin-left: -3.2rem;
}

.small-2 {
  margin-left: inherit;
}

.flick-name {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 200px);
  margin-right: 1rem;
}

.flick-genre{
  margin-right: 1rem;
}

.actions.button-group {
  margin-bottom: 0;
  white-space: nowrap;
}

.actions .button {
  padding: .65em 0.8em;
}

.flick.fav {
  background-color: turquoise;
  border-color: turquoise;
}

.flick:first-child button.move-up,
.flick:last-child button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}